In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import scipy 
import scipy.stats as stats
import researchpy as rp

In [4]:
df = pd.read_csv('Life Expectancy Data.csv')
raw = pd.read_csv('Life Expectancy Data.csv')
pd.options.display.max_columns = 100
df

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [ ]:
print(df.columns)

In [5]:
#clean data

df = df[['Country', 'Life expectancy ', 'Income composition of resources', 'Schooling', ' BMI ', 'GDP','Status']]
df.rename(columns={'Life expectancy ': 'Life expectancy', ' BMI ':'BMI'}, inplace=True)
df['GDP'][df['Country'] == 'Viet Nam'] = 239.3

group_df = df.groupby(['Country']).mean().reset_index()
group_df.dropna(inplace=True)

group_countries = group_df['Country'].to_list()
df_countries = df['Country'].to_list()
idxs = []
for idx, country  in enumerate(df_countries):
    if country not in group_countries:
        idxs.append(idx)
df.drop(index=idxs, inplace=True)
df = df.reset_index().drop(columns='index')

dmm = ['Life expectancy', 'Income composition of resources', 'Schooling', 'BMI', 'GDP']
for i in dmm:
    df[i] = df[i].fillna(df.groupby('Country')[i].transform('mean'))

/usr/lib/python3/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/tmp/ipykernel_4948/1171961172.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GDP'][df['Country'] == 'Viet Nam'] = 239.3
/usr/lib/python3/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/lib/python3/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
print(df['Country'].value_counts().to_string())

In [ ]:
df

In [ ]:
country = ['Afghanistan','Zimbabwe']
a = df[df['Country'].isin(country)] 
a

In [ ]:
developing_country = df[df['Status']=='Developing']
developed_country = df[df['Status']=='Developed']

In [ ]:
developing_country.info()

In [ ]:
classs = [developed_country['Life expectancy'],developing_country['Life expectancy']]

for i in classs:
    print('Mean:',scipy.mean([i]))
    print('Standard deviation',stats.tstd(i))
    
    print('-'*20)

In [ ]:
stats.ttest_ind(developed_country['Life expectancy'],developing_country['Life expectancy'])

In [6]:
rp.ttest(group1= df['Life expectancy'][df['Status'] == 'Developing'], group1_name= "Developing",
         group2= df['Life expectancy'][df['Status'] == 'Developed'], group2_name= "Developed")

(     Variable       N       Mean        SD        SE  95% Conf.   Interval
 0  Developing  2048.0  67.336816  9.056463  0.200121  66.944354  67.729279
 1   Developed   448.0  79.427009  4.015664  0.189722  79.054151  79.799867
 2    combined  2496.0  69.506851  9.576895  0.191691  69.130961  69.882741,
                        Independent t-test    results
 0  Difference (Developing - Developed) =    -12.0902
 1                   Degrees of freedom =   2494.0000
 2                                    t =    -27.6642
 3                Two side test p value =      0.0000
 4               Difference < 0 p value =      0.0000
 5               Difference > 0 p value =      1.0000
 6                            Cohen's d =     -1.4429
 7                            Hedge's g =     -1.4425
 8                       Glass's delta1 =     -1.3350
 9                     Point-Biserial r =     -0.4846)